.Tilt {
  margin-top: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

}

.Tilt:hover {
}

.Tilt:hover .face-svg{
  fill: var(--lighter);
}

.logo-img {
  height: 100%;
}

.face-svg {
  fill: var(--darker);
  transition: all 300ms ease;
}
